.empty {
  text-align: center;
  margin: 3em 0;
}

.cart-page,
.heart-page {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
}

.cart-page > h1,
.heart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: #c9cdd7;
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .cart-page {
    width: 90%;
  }
}
