* {
  box-sizing: border-box;
}

:root {
  --black: #150605;
  --red: #ea453c;
  --pink: #f47b6e;
  --light-blue: #effbfe;
  --blue: #ace6ec;
}

html,
body {
  font-family: "Patua One", cursive;
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */

h2 {
  letter-spacing: 1.25px;
}

h1 {
  letter-spacing: 2px;
}

.cart-page,
.heart-page {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
}

.cart-page > h1,
.heart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border: 0;
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 15px;
  letter-spacing: 1px;
  background-image: url(./vintage-wallpaper.png);
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;
}

.favorite {
  color: var(--red);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: 0.7;
}

.ri-delete-bin-line,
.ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: #c9cdd7;
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .cart-page {
    width: 90%;
  }
}
